:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    >header {
        border-bottom: 1px solid gray;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
    }
    >.flex-container {
        flex-grow: 1;
        display: flex;
        >nav {
            width: 300px;
            border-right: 1px solid gray;
        }
        >.main-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            >main {
                flex-grow: 1;
                padding: 10px;
            }
            >footer {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: lightgray;
            }
        }
    }
}